* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  /**background: rgb(116, 116, 116) url("/dark-blur-blurred-gradient.jpg");**/
  background: radial-gradient(#b36b6b, #111111);
  color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

header {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 70px;
  color: #fff;
}

.counters {
  background: #23a053;
  color: #fff;
  padding: 30px 10px;
  border-top: 5px whitesmoke solid;
}

.counters .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.counters i {
  color: #23a053;
  margin-bottom: 5px;
}

.counters .counter {
  font-size: 45px;
  margin: 10px 0;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 40px;
        color: #fff;
        text-align: center;
      }
  .counters .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .counters .container > div:nth-of-type(1),
  .counters .container > div:nth-of-type(2) {
    border-bottom: 1px #23a053 solid;
    padding-bottom: 10px;
  }
}
